<div class="container">
    <hr>
    <p><strong> Mọi thắc mắc xin vui lòng liên hệ :
        </strong></p>
    <p>Hotline chăm sóc khách hàng: 1800 1060</p>
    <p>Email: cskh@bagcorner.vn</p>
    <p>Fanpage: facebook.com/bagconer </p>
    <p>Xem địa chỉ cửa hàng của BagCorner <a href="#">tại đây</a></p>
</div>



<div style="background-color: #f0f0f0; position:relative;bottom:0; left: 0; right: 0;">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4 text-center text-black">
            <h5>Về BagCorner</h5>
            <ul class="list-unstyled quick-links">
                <li><a style="color:black; text-decoration: none;" href="/introduction">Giới thiệu</a></li>
                <li><a style="color:black;; text-decoration: none;" href="/contact">Liên hệ</a></li>

            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center text-black">
            <h5>Chăm sóc khách hàng</h5>
            <ul class="list-unstyled quick-links">
                <li><a style="color:black; text-decoration: none;" href="/payment_method">Phương thức thanh toán</a>
                </li>
                <li><a style="color:black; text-decoration: none;" href="/delivery_policy">Chính sách giao hàng</a></li>
                <li><a style="color:black; text-decoration: none;" href="/return_policy">Chính sách đổi trả</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 text-center text-black">
            <h5>Liên kết</h5>
            <ul class="list-unstyled quick-links">
                <li><a style="color:black; text-decoration: none;" href="#"><i class="fa fa-facebook"></i>Facebook</a>
                </li>
                <li><a style="color:black; text-decoration: none;" href="#"><i class="fa fa-instagram"></i>Instagram</a>
                </li>
                <li><a style="color:black; text-decoration: none;" href="#"><i class="fa fa-twitter"></i>Twitter</li>
            </ul>
        </div>
    </div>
    <hr style="color: gray; margin:20px;">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-black">
            <p><u><a style="color:black; text-decoration: none;" href="https://localhost/3000">BagCorner
                        Corporation</a></u>
            </p>
            <p class="h6">© All right Reversed.<a style="color:black; text-decoration: none;" class="text-green ml-2"
                    href="https://localhost/3000" target="_blank">BagCorner shop</a></p>
        </div>
        <hr>
    </div>
</div>