<h3>Liên hệ</h3>
<hr>
<p><strong>Địa chỉ cửa hàng : </strong>số 895 Giải Phóng, phường Giáp Bát, quận Hoàng Mai, Hà Nội</p>
<p><strong>Email : </strong> bagcornercskh@gmail.com</p>
<p><strong>Điên thoại :</strong> 18001060</p>
<hr>
<p><strong>Gửi thắc mắc cho chúng tôi : </strong></p>
<div class="text-left">
    <form action="/send-email" method="post">
        <div class="row">
            <div class="form-group col-md-8">
                <label for="name">Tên của bạn:</label>
                <input type="text" class="form-control" name="name" required>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <label for="from">Email của bạn:</label>
                <input type="email" class="form-control" name="from" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8">
                <label for="subject">Chủ đề:</label>
                <input type="text" class="form-control" name="subject" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8">
                <label for="body">Nội dung:</label>
                <textarea id="classic-editor" cols="5" rows="5" class="form-control" name="content"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-8">
                <button type="submit" class="btn btn-dark">Gửi thắc mắc</button>
            </div>
        </div>
    </form>
</div>