<h3>Chính sách giao hàng</h3>
<p><strong>1. Phí ship</strong></p>
<p>Miễn phí giao hàng trên toàn quốc với các sản phẩm không áp dụng chương trình khuyến mại, giảm giá</p>
<p>Áp dụng phí vận chuyển 30 000VND cho các sản phẩm áp dung chương trình khuyến mại, giảm giá</p>
<p><strong>2. Thời gian giao hàng</strong></p>
<p>- khu vực nội thành Hà Nội : từ 1 - 2 ngày</p>
<p>- khu vực ngoại thành Hà Nội và các thành phố lớn : 2 - 4 ngày</p>
<p>- khu vực khác : từ 4 - 5 ngày</p>
