<h3>Chính sách thanh toán</h3>
<p>Khách hàng có thể lựa chọn các hình thức thanh toán sau tại BagCorner</p>
<p><strong>1. Thanh toán khi nhận hàng</strong></p>
<p>Khách hàng chọn phương thực thanh toán : Thanh toán khi nhận hàng trong bước đặt hàng</p>
<p>Nhân viên vận chuyển thu tiền mặt khi giao hàng cho khách</p>
<p><strong>2. Thanh toán qua chuyển khoản trực tiếp</strong></p>
<p>Khách hàng chọn phương thức thanh toán : Chuyển khoản trực tiếp trong bước đặt hàng</p>
<p>Khách hàng chuyển khoản trực tiếp vào số tài khoản của BagCorner sau khi đặt hàng thành công</p>
<p>Thông tin tài khoản:</p>
<p>CTY CP SX DV BAGCORNER</p>
<p>101002540684</p>
<p>Ngân hàng Viettinbank chi nhánh Hai Bà Trưng</p>
<p><strong>3. Thanh toán online qua cổng thanh toán điện tử Paypal</strong></p>
<p>Khách hàng chọn phương thức thanh toán : Thanh toán qua Paypal và thực hiện thanh toán</p>
<hr>
<p><strong> Mọi thắc mắc xin vui lòng liên hệ :
</strong></p>
<p>Hotline chăm sóc khách hàng: 1800 1060</p>
<p>Email: cskh@bagcorner.vn</p>
<p>Fanpage: facebook.com/bagconer </p>
<p>Xem địa chỉ cửa hàng của BagCorner <a href="#">tại đây</a></p>